---
import PageLayout from "../../layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.published)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());


const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric", 
  timeZone: "UTC"
};

const pageTitle = "Blog";
---

<PageLayout pageTitle={pageTitle}>
  <ul class="list-none">
    {
      posts.map(
        (post) =>
          post.data.published && (
            <li class="mb-4">
              <a class="text-purple" href={`/blog/${post.id}/`}>
                <h2 class="text3xl text-blog">{post.data.title}</h2>
              </a>
              <p class="mb-0 text-base italic">
                {new Date(post.data.pubDate).toLocaleDateString(
                  "en-US",
                  dateOptions
                )}
              </p>
              <p class="text-base">{post.data.description}</p>
            </li>
          )
      )
    }
  </ul>
</PageLayout>
