---
import GeneralLayout from "../../layouts/GeneralLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.published)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const pageTitle = "Blog | Matt DeCamp's website";
---

<GeneralLayout pageTitle={pageTitle}>
  <ul>
    {
      posts.map(
        (post) =>
          post.data.published && (
            <li>
              {/* <a class="text-purple" href={`/blog/${post.id}/`}> */}
              <h2 class="text-xl">{post.data.title}</h2>
              {/* </a> */}
              <p>{post.data.pubDate}</p>
            </li>
          )
      )
    }
  </ul>
</GeneralLayout>
