@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Patua One";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/PatuaOne-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Inter_18pt-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../assets/fonts/Inter_18pt-SemiBold.ttf) format("truetype");
  }
  body {
    @apply font-sans text-generalBlue text-lg leading-8
  }
  h1, h2, h4 {
    @apply font-serif text-generalBlue
  }
  h1 {
    @apply text-5xl mb-2
  }
  h2 {
    @apply text-3xl
  }
  h3 {
    @apply text-2xl font-semibold
  }
  p {
    @apply mb-3
  }
  a {
    @apply hover:underline
  }
  ul {
    @apply list-disc list-inside
  }
  li {
    @apply mb-1
  }
  svg {
    @apply inline-block w-6 h-6 stroke-black fill-none
  }
  svg.social-icon {
    @apply inline-block scale-125 stroke-generalBlue stroke-2 fill-none
  }
  div#layout {
    @apply container mx-auto max-w-xl flex flex-col min-h-screen
  }
  main#main-container {
    @apply flex-grow
  }
  .book--cover {
    @apply w-40 h-60
  }
}