---
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../../content/posts/*.md", { eager: true })
  );
  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
  ];
console.log(uniqueTags)
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag }, 
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<PageLayout pageTitle={tag}>
  <h1>{tag}</h1>
  <ul>
    {posts.map((post: any) => <li>{post.frontmatter.title}</li>)}
  </ul>
</PageLayout>
