---
import GeneralLayout from "../layouts/GeneralLayout.astro";

const pageTitle = "About Me";
---

<GeneralLayout pageTitle={pageTitle}>
 <h2 id="currently">Currently</h2>
 <h2 id="fun-facts">Fun Facts</h2>
</GeneralLayout>
