---
import HomepageLayout from "../layouts/HomepageLayout.astro";
const pageTitle = "Matt DeCamp";
const subtitle = "Frontend Web Developer & Artist Manager";
---

<HomepageLayout pageTitle={pageTitle} subtitle={subtitle}>
  <p>
    I've been building for the web professionally for over a decade, and working
    as a <a href="https://linkedin.com/in/mattdecamp">project manager</a> and <a
      href="https://widespreadpanic.com">day-to-day artist manager</a
    >.
  </p>
  <p>
    You can learn a bit more <a href="/about">about me and what I'm up to</a>,
    check out <a href="/bookshelf">what I'm reading</a>, <a href="/blog"
      >my writing</a
    >, and some of the <a href="https://decamp.bandcamp.com">music I've made</a
    >.
  </p>
</HomepageLayout>
