---
import PageLayout from "../layouts/PageLayout.astro";
const pageTitle = "Music";
// TODO: build music page
---

<PageLayout pageTitle={pageTitle}>
  <p>
    I've been writing and recording music for over twenty years, but only recently have begun to share some of the pieces publicly. Below are a couple of tracks I've put out in recent years. You can find more of my music on my <a href="https://decamp.bandcamp.com/">Bandcamp</a> page, my <a href="https://instagram.com/matt.decamp">Instagram</a>, and on <a href="https://youtube.com/">YouTube</a>.
  </p>
  <iframe
    style="border: 0; width: 100%; height: 120px;"
    src="https://bandcamp.com/EmbeddedPlayer/track=1618094497/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/"
    seamless
    ><a href="https://decamp.bandcamp.com/track/recess">Recess by Matt</a></iframe> 
    
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=1131457633/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://decamp.bandcamp.com/track/fall-2007">Fall (2007) by Matt</a></iframe>
</PageLayout>
