---
---
<div id="announcement-bar" class="bg-green-700"><p class="p-2 text-slate-50">Pardon the mess. I'm redesigning my website out in the open! Have a look around while I work out in the open.</p>
</div>