---
const announcement =
  "Pardon the mess. I'm redesigning my website out in the open! Have a look around while I update.";
---

<div id="announcement-bar" class="bg-green-700">
  <p class="p-2 text-slate-50 text-center">{announcement}</p>
</div>
