---
// import Hamburger from "./Hamburger.astro";
import SocialIcons from "./SocialIcons.astro";
import Navigation from "./Navigation.astro";
import Avatar from "./Avatar.astro";
const { title, subTitle, homepage } = Astro.props;
---

<header>
  <nav>
    <!-- <Hamburger /> -->

    {
      homepage ? (
        <nav id="nav-container">
          <div id="nav-container--top">
            <Navigation />
          </div>
          <div id="nav-container--bottom">
            <div id="site-title" class="font-serif text-4xl text-general-blue">{title}</div>
            <h3>{subTitle}</h3>
            <SocialIcons />
            <Avatar />
          </div>
        </nav>
      ) : (
        <nav id="nav-container">
          <div id="nav-container--top">
            <div id="site-title">{title}</div>
            <SocialIcons />
          </div>
          <div id="nav-container--botom">
            <Navigation />
          </div>
        </nav>
      )
    }
  </nav>
</header>