---
import NavigationItem from "./NavigationItem.astro";
// import SocialIcons from "./SocialIcons.astro";
---

<nav id="navigation">
  <!-- <SocialIcons /> -->
  <div id="navigation-links--container" class="">
    <ul id="navigation-links" class="flex flex-row flex-wrap gap-2">
      <NavigationItem icon="home" slug="#" title="Home" class="text-generalBlue" />
      <NavigationItem icon="about" slug="about" title="About" class="text-about" />
      <NavigationItem icon="blog" slug="blog" title="Blog" class="text-blog" />
      <NavigationItem icon="work" slug="work" title="Work" class="text-work" />
      <NavigationItem icon="book" slug="bookshelf" title="Bookshelf" class="text-book" />
      <NavigationItem icon="music" slug="music" title="Music" class="text-music"
      />
      <NavigationItem icon="refs" slug="refs" title="Refs" class="text-generalBlueLight" />
    </ul>
  </div>
</nav>

