---
const { platform, username, title, icon } = Astro.props;
import socialIcons from '../assets/icons/socialIcons'
---
{

  <a class="social-icon--link" href={`https://${platform}/${username}`} title={title}>
    {/* <Fragment set:html={socialIcons[icon]} /> */}
  </a>

}
