---
import SocialIconLink from "./SocialIconLink.astro";
---

<div id="nav-socials" class="flex flex-row">
  <SocialIconLink
    platform="github.com"
    icon="github"
    username="mattdecamp"
    title="Matt DeCamp on GitHub"
  />
  <SocialIconLink
    platform="linkedin.com/in"
    icon="linkedin"
    username="mattdecamp"
    title="Matt DeCamp on LinkedIn"
  />
  <SocialIconLink
    platform="bsky.app"
    icon="bluesky"
    username="@mattdecamp"
    title="Matt DeCamp on BlueSky"
  />
  <SocialIconLink
    platform="instagram.com"
    icon="instagram"
    username="matt.decamp"
    title="Matt DeCamp on Instagram"
  />
  <SocialIconLink
    platform="codepen.io"
    icon="codepen"
    username="mattdecamp"
    title="Matt DeCamp on CodePen"
  />
  <SocialIconLink platform="rss" icon="rss" title="mattdecamp.com RSS feed" />
</div>