---
import SocialIconLink from "./SocialIconLink.astro";
---

<div id="nav-socials" class="flex flex-row flex-wrap gap-2">
  <SocialIconLink
    platform="linkedin.com/in"
    icon="linkedin"
    username="mattdecamp"
    title="Matt DeCamp on LinkedIn"
  />
  <SocialIconLink
    platform="github.com"
    icon="github"
    username="mattdecamp"
    title="Matt DeCamp on GitHub"
  />
  <SocialIconLink
    platform="decamp.bandcamp.com"
    icon="bandcamp"
    username=""
    title="Matt DeCamp on Bandcamp"
  />
  <SocialIconLink
    platform="bsky.app"
    icon="bluesky"
    username="@mattdecamp"
    title="Matt DeCamp on BlueSky"
  />
  <SocialIconLink
    platform="codepen.io"
    icon="codepen"
    username="mattdecamp"
    title="Matt DeCamp on CodePen"
  />
  <SocialIconLink platform="mattdecamp.com" icon="rss" username="feed.xml" title="mattdecamp.com RSS feed" />
</div>