---
import SocialIconLink from "./SocialIconLink.astro";
---

<div id="nav-socials">
  <SocialIconLink
    platform="github"
    icon="github"
    username="mattdecamp"
    title="Matt DeCamp on GitHub"
  />
  <SocialIconLink
    platform="linkedin"
    icon="linkedin"
    username="mattdecamp"
    title="Matt DeCamp on LinkedIn"
  />
  <SocialIconLink
    platform="bsky.app/"
    icon="bluesky"
    username="@mattdecamp"
    title="Matt DeCamp on BlueSky"
  />
  <SocialIconLink
    platform="instagram"
    icon="instagram"
    username="matt.decamp"
    title="Matt DeCamp on Instagram"
  />
  <SocialIconLink
    platform="codepen"
    icon="codepen"
    username="mattdecamp"
    title="Matt DeCamp on CodePen"
  />
  <SocialIconLink
    platform="mail"
    icon="mail"
    username="mattdecamp"
    title="Send Matt an email"
  />
  <SocialIconLink platform="rss" icon="rss" title="mattdecamp.com RSS feed" />
</div>

<!-- <style>
  #nav-socials {
    display: flex;
    flex-direction: row;
  }
</style> -->