---
// import "../styles/base.css";
import type { CollectionEntry } from "astro:content";
import GeneralLayout from "./GeneralLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC"
};

const { title, description, author, pubDate, tags } = Astro.props;
---

<GeneralLayout>
  <article class="prose prose-base prose-generalBlue">
    <div>
      <p class="my-0">{new Date(pubDate).toLocaleDateString("en-US", dateOptions)}</p>
      <ul class="list-none flex flex-row flex-wrap gap-x-2 gap-y-2">
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <h1 class="text-4xl">{title}</h1>
    </div>
    <slot />
  </article>
</GeneralLayout>