---
// import "../styles/base.css";
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZone: "UTC"
};

const { title, description, author, pubDate, tags } = Astro.props;
---

<Layout>
  <article class="prose prose-base">
    <div>
      <h1 class="text-4xl mb-0">{title}</h1>
      <p class="my-0">{new Date(pubDate).toLocaleDateString("en-US", dateOptions)}</p>
      <ul class="list-none flex flex-row flex-wrap m-0 ps-0">
        {tags.map((tag) => (
          <a href={`/tags/${tag}`}><li class="first:ps-0 m-0">#{tag}</li></a>
        ))}
      </ul>
    </div>
    <slot />
  </article>
</Layout>