---
import "../styles/base.css";
import DocumentHead from "../components/DocumentHead.astro";
import Announcement from "../components/Announcement.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <DocumentHead />
  <!-- <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head> -->
  <body>
    <Announcement
    announcement="Pardon the mess. I'm redesigning my website out in the open! Have a look around while I update."
    />
    <div id="layout">
      <Header title="Matt DeCamp" />
      <main id="main-container" class="mb-4">
        <h1 class="pb-3 border-b-2 border-gray-400 border-dashed">{pageTitle}</h1>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
