---
import "../styles/base.css";
import DocumentHead from "../components/DocumentHead.astro";
import Announcement from "../components/Announcement.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Latest from "../components/Latest.astro";
---

<!doctype html>
<html lang="en">
  <DocumentHead />
  <body>
    <Announcement />
      <div id="layout" class="mx-auto">
      <Header
        homepage="true"
        title="Matt DeCamp"
        subTitle="Frontend Web Developer & Artist Manager"
      />
      <main id="main-container">
        <slot />
        <Latest />
      </main>
      <Footer />
    </div>
  </body>
</html>
